<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- problems can be a comma separated list of intergers or "all" -->
        <add key="problems" value="4"/>
		<!-- runner can be "parallel" for the parallel runner or anything else for the default one -->
		<add key="runner" value="parallel"/>
	</appSettings>
</configuration>
