<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- Problems can be a comma separated list of intergers or "all" -->
        <add key="problems" value="35"/>
        <!-- Runner can be "parallel" for the parallel runner or anything else for the default one -->
        <add key="runner" value=""/>
        <!-- Number of time each problem is run (for statistical timing purposes). Default if not set is 1 -->
        <add key="iterations" value="1"/>
        <!-- Units used for timing. Use "ms" for millisecons or anything else for ticks -->
        <add key="timingUnits" value="ticks"/>
    </appSettings>
</configuration>
