<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- problems can be a comma separated list of intergers or "all" -->
        <add key="problems" value="23"/>
        <!-- runner can be "parallel" for the parallel runner or anything else for the default one -->
        <add key="runner" value="se"/>
        <!-- Number of time each problem is run (for statistical timing purposes). Default if not set is 1 -->
        <add key="iterations" value="1"/>
    </appSettings>
</configuration>
